# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
/dist
/build
/.next
/out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.sqlite
*.db

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.directory
.Trash-*

# Testing
/coverage

# Misc
.DS_Store
Thumbs.db